/* Reseting link styles */
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}
/*  */

html { 
  font-size: 10px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
.welcome-text {
  font-size: 10rem;
  margin: 1rem 0 3rem 0;
  padding-top: 4rem;
  min-height: 18rem;
  color: white;
}
.secondary-page-header {
  font-size: 10rem; 
  margin: 1rem 0 1rem 0; 
  min-height: 3rem;
}
.header-3 {
  font-size: 4rem;
  margin: 2rem 0 1rem 0;
}
.about-us-paragraph {
  font-size: 2.4rem; 
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.application-form {
  margin: 3rem 0 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
.application-input { 
  min-width: 5rem;
  border: none;
  height: 4rem;
  background-color: rgba(255,255,255,0.2);
  color: white;
  border-bottom: 0.3rem solid rgba(226, 226, 226, 0.2);
  border-radius: none;
  font-size: 2rem;
  box-sizing: border-box;
}
.application-input:focus {
  outline: none;
  border-bottom: 0.3rem solid royalblue;
}
.application-button {
  border: none;
  height: 4rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(226, 226, 226);
}
.application-button:hover { 
  background-color: royalblue;
  color: rgb(255, 255, 255);
}
.application-button:focus {
  outline: none;
  background-color: royalblue;
  color: rgb(255, 255, 255);
}
.wrapper {
  width: 60vw;
  margin: 0 auto;
}
.menu-wrapper {
  margin-bottom: 2rem;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas: 
  "a b c d e";
}
.menu-item { 
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item:hover {
  background-color: royalblue;
  color: white;
}
.grid-a {
  grid-area: a;
}
.grid-b {
  grid-area: b;
}
.grid-c {
  grid-area: c;
}
.grid-d {
  grid-area: d;
}
.grid-e {
  grid-area: e;
}


.footer {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 5rem;
  margin-top: 5rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 1.8rem;
  color:rgb(255, 255, 255);
}



.sale-process {
  margin-top: 8rem;
}
.section-header {
  font-size: 6rem;
  text-align: center;
  margin: 1rem;
  font-weight: 500;
}
.sale-process-list {
  margin: 4rem 0;
}
.sale-process-item {
  padding: 2rem;
  border: 3px solid rgb(255, 255, 255);
  margin: 4rem 1rem;
}
.sp-item-header {
  font-size: 5rem;
}
.sp-item-paragraph {
  font-size: 2.4rem;
  margin: 1rem 0;
}
.sp-item-period {
  font-size: 2.4rem;
  color:rgb(122, 122, 122);
}




.fee-table-wrapper {
  width: 90vw;
  margin: 0 auto;
}
.fee-grid {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: 2rem 0;
}
.fee-item {
  /* border: 0.3rem solid rgb(255, 255, 255); */
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  min-height: 12rem;
  color:rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fee-item-header {
  background-color: royalblue;
  color:rgb(255, 255, 255);
  font-size: 2.4rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
}
.fee-item-paragraph {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  list-style-position: inside;
  padding: 0.5rem;
}
.fee-item-price { 
  background-color: royalblue;
  font-size: 2.4rem;
  text-align: center;
  padding: 1rem;
  color:rgb(255, 255, 255);
  border-radius: 0 0 0.3rem 0.3rem;
}
.fee-paragraph-box {
  padding: 0 0.5rem 0.8rem 2rem;
}
.fee-paragraph-box:first-child {
  padding-top: 0.8rem;
}




.pros-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 0.1rem;
  background-color: rgb(255, 255, 255);
}
.pros-item {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr;
  grid-template-columns: 1fr;
  text-align: center;
}
.pros-item-header {
  font-size: 2.4rem;
  margin: 1rem 0;
  align-self: center;
}
.pros-item-text {
  font-size: 1.6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: center;
}
.pros-icon {
  font-size: 7rem;
  align-self: center;
}

.background-wrapper { 
  min-height: 70rem;
  background-image: url("../images/background-cars03.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-contact-item {
  padding: 0.2rem;
}
.footer-contact-item-text {
  padding: 0 0.5rem;
}
.fn-item {
 
  padding: 0.2rem;
}
.footer-nav-link-item {
  color: rgb(255, 255, 255);
}

.about-us-contact-list { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.contact-item { 
  font-size: 2rem;
  padding: 0.5rem;
}
.contact-item-text {
  padding: 0 0.5rem;
}
.link-wrapper {
  display: flex;
  align-items: center;
  color:rgb(255, 255, 255)
}
.our-location {
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  .wrapper { 
    width: 95vw;
  }
}
@media screen and (max-width: 560px) {
  .wrapper {
    width: 90vw;
  }
  .welcome-text {
    font-size: 8rem;
  }
  .menu-wrapper { 
    width: 100%;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e";
  }
  .application-form {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 1rem;
  }
  .about-us-contact-list { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .pros-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}